  @font-face {
    font-family: Rubik;
    src: url('/assets/fonts/Rubik-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: Rubik;
    src: url('/assets/fonts/Rubik-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: YekanBakh;
    src: url('/assets/fonts/Yekan-Bakh-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: YekanBakh;
    src: url('/assets/fonts/Yekan-Bakh-Heavy.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: IranYekan;
    src: url('/assets/fonts/yekan.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }


  body * {
      -webkit-font-smoothing: antialiased;
  }

  html[dir="auto"] body{
      font-family: 'Rubik',-apple-system,BlinkMacSystemFont,Ubuntu,segoe ui,Roboto,Oxygen,Cantarell,open sans,helvetica neue,sans-serif;
      font-size: 16px;
  }

  html[dir="rtl"] body, html[dir="rtl"] .post-content table th {
      font-family: 'IranYekan',-apple-system,BlinkMacSystemFont,Ubuntu,segoe ui,Roboto,Oxygen,Cantarell,open sans,helvetica neue,sans-serif;
      font-size: 16px;
      letter-spacing: -0.75px;
  }

  html[dir="rtl"] .post-single .post-content p, html[dir="rtl"] .post-single .post-description, html[dir="rtl"] .list-page .post-content p, html[dir="rtl"] .list-page .post-description{
    text-align: justify;
  }

  html[dir="rtl"] .post-single, html[dir="rtl"] .list-page{
      line-height: 2;
  }

  html[dir="rtl"] button#theme-toggle {
    margin-bottom: -2px;
  }

  html[dir="rtl"] #menu a {
    letter-spacing: -1px;
  }

  .paginav .prev, .paginav .next {
      padding-bottom: 10px;
  }

  .post-content h4{
      font-size: 18px;
  }

  .paginav .title {
      letter-spacing: 0px;
  }

  .copy-code {
      padding: 5px 5px;
  }

  .paginav {
      min-height: 70px;
      line-height: 23px;
  }

  .top-link {
      bottom: 45px;
      padding: 11px;
  }

  .breadcrumbs {
    display: inline-block;
    margin-bottom: 10px;
    padding-inline-start: 10px;
    padding-inline-end: 14px;
    color: var(--secondary);
    line-height: 34px;
    background: var(--code-bg);
    border-radius: var(--radius);
    }

    html[dir="rtl"] .breadcrumbs a{
      font-size: 14px;
    }