<link rel="preload" href="/assets/fonts/yekan.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/inter.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/Yekan-Bakh-Heavy.woff2" as="font" type="font/woff2" crossorigin="anonymous">





<!-- Google tag (gtag.js) -->
<link rel="dns-prefetch" href="https://www.googletagmanager.com" >
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4XL1C0F7HT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4XL1C0F7HT');
</script>


<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "8rohldxxci");
</script>


<style>
    .dark {
    --theme: #121417;
    --code-bg: rgb(36 37 40);
    --entry: rgb(36 37 40);
    }
</style>