<link rel="preload" href="/assets/fonts/yekan.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/assets/fonts/ali-regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">


<link rel="dns-prefetch" href="https://www.googletagmanager.com" >
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4XL1C0F7HT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-4XL1C0F7HT');
</script>


<style>
    .dark {
    --theme: #121417;
    --code-bg: rgb(36 37 40);
    --entry: rgb(36 37 40);
    }
</style>