<div class="container-fluid">
    <div class="container padding-0 header-section">
        <div class="row justify-content-center align-items-center min-height-100-first-section">
            <div class="col-lg-6 col-xl-5">

            </div>
            <div class="col-lg-6 col-xl-5">
                <p class="title-intro">
                    خلق یک هویت ماندگار
                </p>
                <p class="tile-pragraph">
                    از اولین مراحل ورود به کسب‌وکار آنلاین، تا کسب بزرگترین دستاوردها همراه شما هستیم.
                </p>
                <div class="row justify-content-center align-items-center web-btns">
                    <div class="col-lg-6 web-btn">
                        <a href="contact">مشاوره رایگان</a>
                    </div>
                    <div class="col-lg-6 tarrife-btn" >
                        <a href="#tarrife">مشاهده تعرفه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container container-why-us">
    <span class="span-why-uns">
     
    </span>
    <div class="row justify-content-center align-items-stretch row-why-us">

        <div class="col-lg-4 col-md-6 first-div-why-us">
            <div>
                <img src="" alt="">
                <h3 class="h3-why-us">
                    وب سایت واکنش گرا
                </h3>
                <p>
                    صفحه نمایش کاربر هر اندازه‌ که باشد؛ سایت شما باز هم خوانا، جذاب و قابل استفاده خواهد بود.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 first-div-why-us">
            <div>
                <img src="" alt="">
                <h3 class="h3-why-us">
                    طراحی سایت براساس اصول سئو
                </h3>
                <p>
                    سایت شما تمام استانداردهای لازم برای کسب رتبه برتر گوگل را دارد و کاملا برای سئو از لحاظ ساختاری بهینه است.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 first-div-why-us">
            <div>
                <img src="" alt="">
                <h3 class="h3-why-us">
                    سرعت بارگذاری بالا
                </h3>
                <p>
                    با کدنویسی بهینه و بکار بردن بهترین ابزارها در طراحی سایت، سرعت بالا را ضمانت می‌کنیم.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 first-div-why-us">
            <div>
                <img src="" alt="">
                <h3 class="h3-why-us">
                    امنیت حداکثری
                </h3>
                <p>
                    با کد نویسی اصولی، بهینه‌سازی های امنیتی و گواهینامه SSL؛ امنیت سایت برای مدیر و کاربران تامین خواهد شد.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 first-div-why-us">
            <div>
                <img src="" alt="">
                <h3 class="h3-why-us">
                    پشتیبانی واقعی
                </h3>
                <p>
                    به طور مداوم و اختصاصی از سایت شما هم‌گام با پیشرفت تکنولوژی پشتیبانی می‌کنیم.
                </p>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 first-div-why-us">
            <div>
                <img src="" alt="">
                <h3 class="h3-why-us">
                    ابزارهای رشد و توسعه
                </h3>
                <p>
                    سایت شما از تمامی پلتفرم های ایرانی و خارجی تبلیغات و فروش آنلاین یا پنل پیامکی پشتیبانی می‌کند.
                </p>
            </div>
        </div>

    </div>

</div>

<div class="container price-table">
    <h2 id="tarrife">
        قیمت طراحی سایت
    </h2>
    <p>
        خدمات و هزینه طراحی سایت به طور تقریبی در زیر درج شده. قیمت طراحی با کاهش یا افزایش یافتن امکانات کم یا زیاد میگردد . برای اطلاع از قیمت دقیق تماس بگیرید.
    </p>
    <div class="row justify-content-center align-items-center min-height-100">

        <div class="col-xl-3 col-lg-4 col-md-6 col-price-table">
            <div class="div-price-table">
                <h2 class="h-price-table">
                    سایت شرکتی
                </h2>
                <div class="b-price-table">
                    <span class="start-price-table">
                        شروع از
                    </span>
                    <span class="price-price-table">
                        8
                    </span>
                    <span class="irt-price-table">
                        میلیون تومان
                    </span>
                </div>
                <ul class="ul-price-table">
                    <li>طرح گرافیکی استاندارد</li>
                    <li>رنگ سازمانی اختصاصی</li>
                    <li>فرم ساز حرفه ای</li>
                    <li>ایجاد محتوای صفحات اصلی</li>
                    <li>بخش گالری تصاویر</li>
                    <li>امکان ایجاد صفحات نامحدود</li>
                    <li>بخش اخبار و مقالات</li>
                    <li>نامحدود صفحه و منو</li>
                    <li>فرم فروش یا رزرو خدمات</li>
                    <li>کاتالوگ آنلاین محصولات</li>
                    <li>ساخت فرم تماس با ما</li>
                    <li>طراحی بنر اسلایدهوم</li>
                    <li>افزودن و مدیریت نمایندگی</li>
                    <li>دسترسی دائمی به بروزرسانی&zwnj;ها</li>

                </ul>
                <div class="btn-price-table">
                    <a class="order-btn-price-table" href="contact">
                        ثبت سفارش
                    </a>
                    <a class="more-btn-price-table" href="#" target="_blank">
                        اطلاعات بیشتر
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-price-table">
            <div class="div-price-table invert-price-table">
                <h2 class="h-price-table">
                    سایت فروشگاهی
                </h2>
                <div class="b-price-table">
                    <span class="start-price-table">
                        شروع از
                    </span>
                    <span class="price-price-table">
                        12
                    </span>
                    <span class="irt-price-table">
                        میلیون تومان
                    </span>
                </div>
                <ul class="ul-price-table">
                    <li>تعریف نامحدود محصول</li>
                    <li>پیامک خرید و خبرنامه ایمیل</li>
                    <li>عضویت پیشرفته مشتریان</li>
                    <li>مدیریت مشتریان و سفارش ها</li>
                    <li>انواع روش&zwnj;های ارسال و پرداخت</li>
                    <li>کد تخفیف و انواع پاداش</li>
                    <li>بخش مجله و اخبار</li>
                    <li>سیستم مدیریت انبار</li>
                    <li>جستجو پیشرفته و فیلتر</li>
                    <li>مقایسه محصولات</li>
                    <li>افزودن به علاقمندی</li>
                    <li>مدیریت نظرات کاربران</li>
                    <li>اتصال به ربات تلگرام</li>
                    <li>سیستم پاداش در ازای فروش</li>
                    <li>سیستم چند فروشندگی</li>
                    <li>پشتیبانی و چت آنلاین</li>
                    <li>دسترسی دائمی به بروزرسانی&zwnj;ها</li>
                </ul>
                <div class="btn-price-table">
                    <a class="order-btn-price-table" href="contact">
                        ثبت سفارش
                    </a>
                    <a class="more-btn-price-table" href="#" target="_blank">
                        اطلاعات بیشتر
                    </a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-price-table">
            <div class="div-price-table">
                <h2 class="h-price-table">
                    سایت پزشکی
                </h2>
                <div class="b-price-table">
                    <span class="start-price-table">
                        شروع از
                    </span>
                    <span class="price-price-table">
                        10
                    </span>
                    <span class="irt-price-table">
                        میلیون تومان
                    </span>
                </div>
                <ul class="ul-price-table">
                    <li>طرح گرافیکی استاندارد</li>
                    <li>فرم نوبت دهی و پرداخت آنلاین</li>
                    <li>سازگار و انطباق پذیر در موبایل</li>
                    <li>ارسال پیامک یا ایمیل نوبت ها</li>
                    <li>ایجاد محتوای صفحات اصلی</li>
                    <li>بخش گالری تصاویر</li>
                    <li>خبرنامه پیامکی و ایمیل</li>
                    <li>بخش مجله و اخبار</li>
                    <li>کاتالوگ و معرفی خدمات پزشکی</li>
                    <li>مشاوره تلفنی با پرداخت آنلاین</li>
                    <li>مدیریت نظرات کاربران</li>
                    <li>طراحی صفحه درباره پزشک</li>
                    <li>طراحی بنر اسلایدهوم</li>
                    <li>دسترسی دائمی به بروزرسانی ها</li>
                </ul>
                <div class="btn-price-table">
                    <a class="order-btn-price-table" href="contact">
                        ثبت سفارش
                    </a>
                    <a class="more-btn-price-table" href="#" target="_blank">
                        اطلاعات بیشتر
                    </a>
                </div>
            </div>
        </div>
    </div>    
</div>
